:root {
    --lightpink: #eb2b93;
    --pink: #c0065b;
    --orange: #f48915;
    --lightgrey: rgb(108, 117, 125);
    --darkGrey: #2b373d;
    --caloryCard: #656565;
    --planCard: linear-gradient(210.41deg, #fa5042 1.14%, #ffa739 100.75%);
    --appColor: #3c3f45;
    --lightGreen: #92af9d;
    --veryLightGreen: #a2c0ae75;
    --green: rgb(48, 104, 77);
    --darkGreen: #2b4d3c;
    --allFonts: 'Manrope', 'Cantarell', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    --btnFonts: 'Manrope', Courier, monospace;
    --specialFonts: 'Cormorant Garamond', 'Manrope', 'Cantarell', 'Droid Sans',
        'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    scrollbar-width: thin;
    scrollbar-color: var(--lightGreen) var(--darkGreen);
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--darkGreen);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 20px;
    border: 3px solid #222222;
}

*:focus {
    border: none;
    outline: 1px solid rgba(31, 177, 106, 0.2);
    box-shadow: -2px -1px 10px 10px rgba(48, 104, 77, 0.3);
}

body {
    font-family: var(--allFonts);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f4f3ee;
}

p {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: 550;
    font-family: var(--btnFonts);
}

.blur {
    background: #ffdec2;
    position: absolute;
    border-radius: 50%;
    filter: blur(170px);
    z-index: -9;
}

.hero-blur {
    width: 22rem;
    height: 30rem;
    left: 0;
}

.main-blur {
    width: 18rem;
    height: 25rem;
    right: 0;
}

.btn {
    background-color: var(--green);
    color: white;
    padding: 0.5rem;
    font-weight: bold;
    border: 4px solid transparent;
    transition: 300ms all;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--btnFonts);
}

.btn:hover {
    cursor: pointer;
    outline: 1px solid var(--green);
}

.btn:focus {
    outline: 1px solid var(--green);
}

.stroke-text {
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--darkGreen);
}

.container {
    max-width: 1368px;
    margin: 0 auto;
    padding: 0 30px 0 30px;
}

.header-logo {
    width: 100px;
}

.header-menu {
    display: flex;
    gap: 2rem;
}

.header__first-row {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-between;
}

.header__logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo-wrapper > a {
    font-family: var(--specialFonts);
    font-weight: bold;
    font-size: 1.7rem;
}

.header__address-wrapper {
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.header-second-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.section-margin {
    margin-bottom: 170px;
}

.header-menu {
    margin-top: 30px;
    margin-left: 20px;
}

.header-menu > li > a {
    font-family: var(--specialFonts);
    position: relative;
    transition: all 0.3s ease-in-out;
}

.header-menu > li > a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: currentColor;
    transition: width 0.3s ease-in-out;
}

.header-menu > li > a:hover::after {
    width: 100%;
}

.header > hr {
    max-width: 95%;
    margin: 0 auto;
    opacity: 0.2;
}

.header__icons-wrapper {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.header__info {
    font-size: 1rem;
}

.header__link {
    font-family: var(--specialFonts);
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--lightgrey);
}

.telephone {
    font-family: var(--btnFonts);
    font-size: 0.8rem;
    font-weight: 600;
}

.main-section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-section-wrapper__title {
    max-width: 500px;
}

.main-section-wrapper__title > h1 {
    font-family: var(--specialFonts);
    font-size: 6rem;
    color: var(--lightGreen);
}

.main-section-wrapper__title > p {
    font-family: var(--specialFonts);
    font-size: 2rem;
}

.main-section-wrapper__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.main-section-img-1 {
    object-fit: cover;
    width: 250px;
    height: 400px;
    grid-area: 1 / 1 / 3 / 2;
}

.main-section-img-2 {
    object-fit: cover;
    width: 250px;
    height: 190px;
    grid-area: 1 / 2 / 2 / 3;
}

.main-section-img-3 {
    object-fit: cover;
    width: 250px;
    height: 195px;
    grid-area: 2 / 2 / 3 / 3;
}

.main-section-img-4 {
    object-fit: cover;
    width: 250px;
    height: 400px;
    grid-area: 1 / 3 / 3 / 4;
}

.services-title {
    margin-bottom: 100px;
    margin-right: 190px;
}

.services-wrapper {
    display: flex;
    justify-content: space-between;
}

.services-right-block {
    display: flex;
    gap: 4rem;
}

.services-right-block__info > p {
    margin-top: 30px;
    max-width: 250px;
    text-align: end;
    font-size: 0.8rem;
}

.services-img-first {
    margin-top: 70px;
    object-fit: cover;
    width: 300px;
    height: 400px;
}

.services-img-second {
    object-fit: cover;
    width: 250px;
}

.accordion {
    width: 650px;
    --bs-accordion-bg: transparent;
    --bs-accordion-border-color: var(--bs-border-color);
    --bs-accordion-border-width: var(--bs-border-width);
    --bs-accordion-btn-color: var(--lightGreen);
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-active-color: var(--green);
    --bs-accordion-active-bg: var(--veryLightGreen);
}

.accordion-body h3 {
    font-size: 1.3rem;
    font-family: var(--specialFonts);
    margin-bottom: 20px;
}

.accordion-collapse ul li {
    font-family: var(--specialFonts);
    font-size: 1.3rem;
    list-style: disc;
}

.masters-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.master-card {
    border: none;
    border-radius: 10px;
    background-color: #eae9e4;
    padding: 20px 15px 20px 15px;
}

.master-card > h5 {
    margin-top: 10px;
}

.master-card > p {
    margin-top: 5px;
    margin-bottom: 20px;
}

.master-card > button {
    text-align: center;
    width: 100%;
    border: none;
}

.master-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.about-wrapper > h6 {
    margin-bottom: 50px;
    font-size: 1.7rem;
    font-family: var(--specialFonts);
    font-weight: 700;
}

.about-images {
    width: 150px;
    margin-bottom: 30px;
    margin: 0 auto;
}

.about-info {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.about-card {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    text-align: center;
}

.testimonials-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    margin-bottom: 30px;
}

.testimonials-card {
    border: var(--lightGreen) 1px solid;
    padding: 20px 15px 20px 15px;
    max-width: 600px;
    margin: 0 auto;
}

.testimonials-card__title {
    display: flex;
    align-items: center;
}

.testimonials-img {
    width: 50px;
}

.testimonials-card > span {
    margin-left: 60px;
    font-size: small;
    color: var(--lightgrey);
}

.testimonials-card > p {
    font-family: var(--specialFonts);
    font-size: 1.2rem;
}

.testimonial-infoblock {
    margin-top: 70px;
    font-family: var(--specialFonts);
    font-size: 1.4rem;
}

.testimonial-infoblock > a {
    color: var(--lightGreen);
    font-family: var(--specialFonts);
    font-size: 1.6rem;
    text-decoration: underline;
}

.testimonials__button-wrapper {
    text-align: center;
}

.testimonials__button-wrapper > button {
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

.testimonials__button-wrapper > button.disabled svg {
    fill: grey;
}

.swiper {
    --swiper-pagination-color: var(--darkGreen);
    width: 900px;
    height: 300px;
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--lightGreen);
}

.swiper-button-prev:focus,
.swiper-button-next:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.contacts-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
}

.contacts-wrapper {
    display: flex;
    flex-direction: column;
}

.form {
    border: 1px solid var(--lightGreen);
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    width: 610px;
    margin-bottom: 30px;
    height: 290px;
}

.contacts-info {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--lightGreen);
    border-radius: 10px;
    width: 610px;
    padding: 20px 20px 30px 20px;
    height: 280px;
}

.contacts-info > h5 {
    text-align: center;
    font-family: var(--specialFonts);
}

.contacts-info > a {
    text-align: center;
    font-family: var(--allFonts);
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 5px;
}

.contacts-address {
    font-size: 1.5rem;
    margin: 10px;
}

.map-wrapper {
    max-width: 610px;
}

.aside {
    height: 300px;
}

.footer {
    background-color: var(--darkGreen);
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}
